[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mdatools"]
	path = mdatools
	url = https://github.com/svkucheryavski/mdatools
[submodule "pcv"]
	path = pcv
	url = https://github.com/cran/pcv
